certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dictdiffer==0.9.0
dotenv==0.9.9
grpcio==1.76.0
idna==3.11
jinja2==3.1.6
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
nornir==3.5.0
nornir-jinja2==0.2.0
nornir-pygnmi==0.2.0
nornir-rich==0.2.0
packaging==25.0
protobuf==6.33.2
pycparser==2.23
pygments==2.19.2
pygnmi==0.8.15
pynetbox==7.5.0
python-dotenv==1.2.1
pyyaml==6.0.3
requests==2.32.5
rich==13.9.4
ruamel-yaml==0.19.1
setuptools==80.9.0
typing-extensions==4.15.0
urllib3==2.6.2
