"network-instance": [
  {
    "name": "default",
    "protocols": {
      "bgp": {
        "autonomous-system": {{ host.asn }},
        "router-id": "{{ host.loopback0 }}",
        "neighbor": [
          {% for neighbor in host.bgp_neighbors %}
          {
            "peer-address": "{{ neighbor.address }}",
            "peer-as": {{ neighbor.asn }}
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    }
  }
]
