{
  "name": "default",
  "interface": [
    {% for iface in interfaces if 'OSPF' in iface.tags %}
    { "name": "{{ iface.name }}.0" }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "protocols": {
    "ospf": {
      "instance": [
        {
          "name": "default",
          "version": "ospf-v2",
          "admin-state": "enable",
          "router-id": "{{ (interfaces | selectattr('name','equalto','lo0') | map(attribute='ip') | first).split('/')[0] }}",
          "area": [
            {
              "area-id": "0.0.0.0",
              "interface": [
                {
                  "interface-name": "lo0.0",
                  "passive": true,
                  "admin-state": "enable"
                }{% for iface in interfaces if 'OSPF' in iface.tags and iface.name != 'lo0'%}
                ,{
                  "interface-name": "{{ iface.name }}.0",
                  "passive": false,
                  "interface-type":  "point-to-point",
                  "admin-state": "enable"
                }{% endfor %}
              ]
            }
          ]
        }
      ]
    }
  }
}
