

"system": {
  "name": {
    "host-name": "{{ host.name }}"
  },
  "ntp": {
    "network-instance": "mgmt",
    "server": [
      {% for server in host.data.ntp_servers %}
      {
        "address": "{{ server }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
}

