"interface": [
  {% for iface in host.data.interfaces if iface.name != "mgmt0" %}
  {
    "name": "{{ iface.name }}",
    "subinterface": [
      {
        "index": 0,
        "admin-state": "enable",
        {% if iface.name != "lo0" %}
        "type": "routed",
        {% endif %}
        "ipv4": {
          "admin-state": "enable",
          "address": [
            { "ip-prefix": "{{ iface.ip }}" }
          ]
        }
      }
    ]
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]
