set / network-instance default type default
{% for iface in interfaces if 'OSPF' in iface.tags %}
set / network-instance default interface {{ iface.name }}.0
{% endfor %}

set / network-instance default protocols ospf instance default admin-state enable
set / network-instance default protocols ospf instance default version ospf-v2
set / network-instance default protocols ospf instance default router-id {{ (interfaces | selectattr('name','equalto','lo0') | map(attribute='ip') | first).split('/')[0] }}

set / network-instance default protocols ospf instance default area 0.0.0.0 interface lo0.0 passive true
set / network-instance default protocols ospf instance default area 0.0.0.0 interface lo0.0 admin-state enable
{% for iface in interfaces if 'OSPF' in iface.tags and iface.name != 'lo0' %}
set / network-instance default protocols ospf instance default area 0.0.0.0 interface {{ iface.name }}.0  interface-type point-to-point
set / network-instance default protocols ospf instance default area 0.0.0.0 interface {{ iface.name }}.0  admin-state enable
{% endfor %}
